/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-color: white;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.heading {
  color: black;
  font-size: 26px;
  font-family: "Roboto";
  margin-bottom: 20px;
}

.boxes-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-betwee;
  align-items: flex-end;
  margin: 10px;
}

.small-box {
  height: 60px;
  width: 60px;
  background-color: #fbbf24;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.medium-box {
  height: 100px;
  width: 100px;
  background-color: #38bdf8;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.large-box {
  height: 150px;
  width: 150px;
  background-color: #ec4899;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.box-name {
  font-family: "bree serif";
  font-size: 15px;
  color: white;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}
